* {
    margin:0;
    padding: 0;
}

body {
    background-color: #ca4387 ;
    color: white;
}

header {
    background-color: white;
    color: #ca4387 ;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: solid 20px #ca4387;
}

h1, h2 {
    padding: 10px 0 ;
}

#tituloSugestao {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#forms {
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    border: solid 20px #ca4387;
    height: 55vh;
}

form {
    margin: 5px;
}

form div {
    flex-direction: column;
    display: flex;
    padding: 5px;
}

form input {
    outline: none;
    padding: 10px;
    width: 250px;
    border-radius: 15px;
    border: solid 2px #ca4387;
    background-color: white;
}

form input:focus {
    background-color: whitesmoke;
    color: black;
    font-size: 15px;
    transition: 0.5s;
}

form button {
    padding: 10px;
    border: solid 2px #ca4387;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
}

form button:hover{
    background-color: #ca4387;
    border: solid 2px black;
    transition: 0.4s;
}

form label {
    font-size: 14px;
    margin-left: 10px;
}

form #amado {
    margin-left: 10px;
    font-family: cursive;
    font-size:small ;
    font-weight: 700;
}

.descricao {
    transition: 0.5;
    margin: 0px;
    font-size: 11px;
    align-items: end;
    text-align: end;
    font-style: italic;
}